*
!/.deploy
!/.deploy/**
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/bitbucket-pipelines.yml
!/build_options.ini
!/composer.json
!/composer.lock
!/m2-hotfixes
!/m2-hotfixes/**
!/m2-modules
!/m2-modules/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/Gruntfile.js
!/grunt-config.json
!/package.json
!/package-lock.json
!/.stylelintrc.json
!/dev/
!/dev/tools/
!/dev/tools/grunt
!/dev/tools/grunt/configs
!/dev/tools/grunt/configs/local-themes.js
